<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.glimmer.wechatautoservice">

    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".BaseApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoadingActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppNoTitleTheme" />

        <!--应用设置-->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />

        <!--如何使用-->
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />

        <!--设置回复语-->
        <activity
            android:name=".activity.SettingReplyActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.WeChatAutoService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/wechat_auto_service_config" />
        </service>

        <service android:name=".service.NotificationService" />

    </application>

</manifest>